.dashboard{
	text-align: center;
	color: #87cefa;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.container-body{
width: 100%;
height:100%;

}
.center{
	margin: auto;
	padding: 10px;
}
.edit-btn,.delete-btn{
	float: right;
	margin-right: 0px;
}

.apartment-id{
 text-align: center;
}

.aparment-row{

	width: 90%;
	height: auto;
	box-shadow: 3px 3px 3px 3px #87cefa;
	
}

.rooms-row{

	width: 80%;
	height: auto;
	box-shadow: 2px 2px 2px 2px #87cefa;
	
	
}

.sensors-row{

	width: 70%;
	height: auto;
	box-shadow: 1px 1px 1px 1px #87cefa;
	
}

label{

color: #8C8C8C;	
}

.manage-icon{
margin-right: 1px !important;

}