body {

margin:0px !important;
padding:0px !important;
display:none !important;
}

.home{
display: block !important;
/*background-image:url("../images/h21.jpg");*/
/*background-color:#F5F5F5;*/

background-repeat: no-repeat;
background-size:cover;
}

.domisep{
color: #87cefa;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.smart{
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
color: #8C8C8C;
}

.menu{
color: #fff;
height: 100px;
}

/*menu*/
.leftmenu{
	width: 50%;
	float: left;
	margin:0;
	
}
.leftmenu h4{
	padding-left:70px;
	font-weight: bold;
	color: black;
	font-size: 22px;
}


#firstlist{
	colour: orange;
}
 
 .rightmenu{
	 margin:20px;
	 float:right;
 }
 /*login and reistration buttons*/
 #buttonone{
	 background-color: #87cefa;
	 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	 color: black;
	 border: none;
	 font-size: 12px;
	 font-weight: bold;
	 text-transform: uppercase;
	 box-shadow: 2px 2px 2px 2px black;
	 line-height: 40px;
	 width: 150px;
	 margin-top: 15px;
	 margin-right:20px;
	
 }
 #buttonone:hover{
	 color:white;

 }
 

 
 #buttontwo{
	 background-color: #8C8C8C;
	 color: white;
	 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	 border: none;
	 text-transform: uppercase;
	 box-shadow: 2px 2px 2px 2px black;
	 font-weight:bold;
	 line-height: 40px;
	 
	 width: 150px;
	 margin-left: 10px;
 }
  #buttontwo:hover{
	 color:black;
	
 }
 
  
 .mySlides.fade>img{
 
	width: 100% !important;
	height: 400px !important;

 }
 
 /*slider*/
 .slideshow-container{
	 width:100% !important;
	 position:absolute;
 }
 
 .sensors{
 
	 color: #87cefa !important;
	 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
 }

 /*discription part section 3*/
 .discription{
	height: auto;
	width:100%;
	padding-top: 355px;
 }
 
.sensor.description,.img2,.img4{
	background-color: #DFFFEF;
}
.img2{

	margin-top: 10px;
}

.img4{

	padding-top: 1px;
	margin-top: 77px;
}

.img1,.img3{
	background-color: #FFF;
}

 h1 {
    text-align: center;
	font-size: 45px;
	color: black !important;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h2 {
    text-align: center;
	font-size: 30px;
	color: black !important;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
h2.sensorheading1{
margin-left:127px;
text-align:left;
font-size:28px;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h2.sensorheading2{
margin-top:25px;
 margin-left:700px;
 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h2.sensorheading3{
text-align:left;
margin-left:170px;
 margin-top:25px;
 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h2.sensorheading4{
margin-top: 0px;
 margin-left:700px;
 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

}

p.main {
    text-align:center;
	margin-left:100px;
	margin-right:100px !important;
	font-size: 20px;
	color: black !important;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}




p,h3{
	color: black !important;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}


}
h3{
	text-align:center;
	color: black;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	
}

.homeicon{
color: black !important;
}

.icon{

width: 30px;
height: 30px;


}
