
.domisep{
color: #87cefa;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.smart{
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
color: #8C8C8C;
}

.menu{
color: #fff;
height: 100px;
background-color: white;
padding-top: 20px;
}

.loggedout.menu{

padding-top: 0px !important;
}

/*menu*/
.leftmenu{
	width: 50%;
	float: left;
	margin:0;
	padding-top: 25px;
	
}


.leftmenu h4{
	padding-left:70px;
	font-weight: bold;
	color: black;
	font-size: 22px;
}
a:hover{
text-decoration: red !important;
}


#firstlist{
	colour: orange;
}

.rightmenu{
	 margin:20px;
	 float:right;
 }
 
 .loggedout .rightmenu{
	margin: 25px !important;
}

#buttonone{
	 background-color: #87cefa;
	 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	 color: black;
	 border: none;
	 font-size: 12px;
	 font-weight: bold;
	 text-transform: uppercase;
	 box-shadow: 2px 2px 2px 2px black;
	 line-height: 40px;
	 width: 150px;
	 margin-top: -11px;
	 margin-right:20px;
	
 }
 
  #buttonone:hover{
	 color:white;

 }
 

 
 #buttontwo{
	 background-color: #8C8C8C;
	 color: white;
	 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	 border: none;
	 text-transform: uppercase;
	 box-shadow: 2px 2px 2px 2px black;
	 font-weight:bold;
	 line-height: 40px;
	 
	 width: 150px;
	 margin-left: 10px;
 }
  #buttontwo:hover{
	 color:black;
	
 }
 
 
 .homeicon{
color: black !important;
}

.icon{

width: 30px;
height: 30px;


}